.container h1 {
    font-size: 80px;
    font-family: myFirstFont;

}
.container p {
    font-size: 35px;
    font-family: myFirstFont;
}
.container .btn {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    border: 1px solid black;
}
.btn:hover{
background-color:chartreuse;
color :black
}
@font-face {
    font-family: myFirstFont;
    src: url(impact/unicode.impact.ttf);
}